@font-face {
    font-family: blackops;
    font-style: normal;
    font-weight: 700;
    src: url('../assets/BlackOpsOne-Regular.ttf') format('opentype'); 
}

* {
    margin: 0;
    padding: .1rem;
    font-family: blackops;
    box-sizing: border-box;
    list-style: none;
}

html {
    background-color: #D3D3D3;
    overflow-x: hidden;
}

main.home {
    section:nth-of-type(1) {

    }

    section:nth-of-type(2) {
        
    }

    section:nth-of-type(3) {
        
    }

    section:nth-of-type(4) {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            gap: 2rem;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: white;
            box-shadow: 5px 5px 5px black;
            border-radius: 20px;
            width: 30%;
        }

        img {
            width: 30%;
            height: auto;
        }
    }
}