@font-face {
    font-family: blackops;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/BlackOpsOne-Regular.ttf') format('opentype'); 
}

* {
    margin: 0;
    padding: 0;
    font-family: blackops;
    box-sizing: border-box;
    list-style: none;
    border: none;
}

html {
    background-color: #EDEDED;
    overflow-x: hidden;
}

header.sticky {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    height: fit-content;
    max-height: 7rem;
    background-color: black;

    a.logo {
        display: flex;
        width: 20%;

        img {
            width: 5rem;
            height: auto;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        flex: 3;

        a {
            text-decoration: none;
            color: white;

            &.active {
                color: #BFFB4F;
            }
        }
    }
}

main.home {
    section:nth-of-type(1) {

    }

    section:nth-of-type(2) {
        
    }

    section:nth-of-type(3) {
        
    }

    section:nth-of-type(4) {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
            gap: 2rem;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: white;
            box-shadow: 5px 5px 5px black;
            border-radius: 20px;
            width: 30%;
        }

        img {
            width: 30%;
            height: auto;
        }
    }
}

main.createnote {
    margin: 3rem;

    h2 {
        font-size: 3rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    fieldset {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem; 
        
        div {
            display: flex;
            flex-direction: column;
            width: 45%
        }
        
        input, textarea, select {
            display: flex;
            border-radius: 0.5rem;
            height: 3rem;
            border: 2px solid #D9D9D9;
            font-size: 1rem;
            padding-left: .5rem;
            font-weight: 300;

            &::placeholder {
                padding-left: .5rem;
            }

            &:nth-of-type(1) {
                width: 100%;
            }

            &:nth-of-type(2) {
                width: 100%;
            }

            &:nth-of-type(3) {
                width: 100%;
            }

            &:nth-of-type(4) {
                width: 100%;
            }
        }

        select {
            width: 100%;
        }

        button {
            width: 70%;
            height: 3rem;
            background-color:#0c0c0c;
            color:#BFFB4F;
            border-radius: 1.25rem;
            font-size: 1.5rem;
        }
    }
}