/* General styling */
body {
    margin: 0;
}


.waveblue {
    width: 100%;
}

.w2 {
    transform: rotateX(180deg);
}
.playgroundh1 {
    text-align: center;
    margin: 40px 0px;
}

p {
    text-align: center;				
			background-image: 
			linear-gradient(
				45deg,
        var(--blauw),
				var(--geel)
    ),
			radial-gradient(
        var(--rood),
				var(--paars)
    );
}
/* General styling end */




