@font-face {
    font-family: blackops;
    src: url(/assets/BlackOpsOne-Regular.ttf); 
}

* {
    margin: 0;
    padding: 0;
    font-family: blackops;
}

html {
    background-color: #D3D3D3;
}

main {


    section {
        position: relative;

        h1 {
            position: absolute;
            text-align: center;
            top: 26%;
            width: 100vw;
            font-size: 3.5rem;
            color: white;
            z-index: 1;

            @media (min-width: 600px) {
                font-size: 5rem;
            }
        }

        img {
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 5rem;
            z-index: 2; 
        }
    }
}