@font-face {
    font-family: blackops;
    font-style: normal;
    font-weight: 700;
    src: url('../assets/BlackOpsOne-Regular.ttf') format('opentype'); 
}

* {
    margin: 0;
    padding: 0;
    font-family: blackops;
}

html {
    background-color: #D3D3D3;
    overflow-x: hidden;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    img {
        width: 4rem;
        height: auto;
        cursor: pointer;
    }

    span {
        color: black;
        transition: color 2s ease;
    }

    &:has(.menudrawer.open) span {
        color: white;
        transition: color 2s ease;
    }


    button {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 200;
    }

    .rotateme {
        animation-name: navtyre;
        animation-duration: 2s;
    }

    .menudrawer {
        display: flex;
        position: fixed;
        left: -100%;
        top: 0;
        width: 100vw;
        height: 100vh;
        align-items: flex-end;
        background-color: #2f2f2f;

        &.open {
            left: 0%;
            animation-name: openmenu;
            animation-duration: 2s;
            z-index: 110;
        }

        &.closed {
            left: -100%;
            animation-name: closemenu;
            animation-duration: 2s;
            z-index: 110;
        }
    }

    .menuwrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100vw;
        height: 90vh;
        padding: 1rem;
        gap: 1rem;

        a {
            text-decoration: none;
            color: white;
            width: 100vw;
        }
    }
}

main {

    section {
        position: relative;

        h1 {
            position: absolute;
            text-align: center;
            top: 29%;
            width: 100vw;
            font-size: 3.5rem;
            color: white;
            z-index: 0;

            @media (min-width: 600px) {
                font-size: 5rem;
            }
        }

        img {
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 5rem;
            z-index: 2; 
            cursor: pointer;
        }

        .car {
            position: relative;
            width: 350px;

            @media (min-width: 550px) {
                width: 600px;
            }

            @media (min-width: 950px) {
                width: 1000px;
            }

        }

        .lefttyre {
            position: absolute;
            left: 16%;
            top: 30%;
            width: 15%;
            height: auto;

            @media (min-width: 550px) {
                top: 36%;
            }
            @media (min-width: 950px) {
                top: 41%;
            }
        }

        .righttyre {
            position: absolute;
            right: 12.5%;
            top: 30%;
            width: 15%;
            height: auto;

            @media (min-width: 550px) {
                top: 36%;
            }
            @media (min-width: 950px) {
                top: 41%;
            }
        }

        .driveby  {
            animation: driveby 3s ease-in;
        }

        .tyrespin {
            animation-name: tyrespin;
            animation-duration: 3s;
            animation-timing-function: linear;
        }
    }
}

@keyframes driveby {
  0% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(300vw);
  }
  100% {
    transform: translateX(500vw);
  }
}

@keyframes tyrespin {
    from  { 
        transform: rotate(0deg); 
    }

    to   { 
        transform: rotate(1020deg) ; 
    }
} 

@keyframes navtyre {
    from  { 
        transform: rotate(0deg); 
    }

    to   { 
        transform: rotate(720deg) ; 
    }
} 

@keyframes openmenu {
    from  { 
        left: -100%
    }

    to   { 
        left: 0%
    }
} 

@keyframes closemenu {
    from  { 
        left: 0%
    }

    to   { 
        left: -100%
    }
} 