/* algemene styling */
@font-face {
    font-family: 'Myfont';
    font-style: normal;
    font-weight: 300;
    src: local('Bariol Thin'),
         url('/assets/Necosmic-PersonalUse.otf') format('opentype');
}

html {
    font-family: 'Myfont';
}


ul {
    all: unset;
}

h1,
h2,
h3,
a,
p,
article,
section {
    font-family: 'Myfont';
    color: white;
    margin: 0;
}

html {
    background-color: #72b5cd;
}

h3 {
    font-size: 2rem;
}

/* styling header */

.top-link {
    display: flex;
    text-align: left;
    background-color: rgba(40, 101, 162, 0.774);
    backdrop-filter: blur(5px);
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 0.8rem;
    width: 70%;
    min-width: 50px;
    align-items: center;
    justify-content: center;
}

.top-link.active {
    background-color: #ffffff;
    color: black;
}

.pagina-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: auto;
    width: 100%;
    gap: 12px;
}

.header-title,
.header-title1,
.header-title2 {
    align-self: flex-start;
    margin-left: 0%;
    width: 10%;
    height: auto;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

::placeholder {
    color: white;
    opacity: 01;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
}

.search-group {
    display: flex;
    position: relative;
    width: 50%;
    justify-content: center;
    max-width: 300px;
}

.search-group .icon {
    position: absolute;
    top: 30%;
    left: 2.3rem;
    transform: translate(-50%);
    fill: white;
    pointer-events: none;
    width: 1rem;
    height: 1rem;
}

/* styling end */

/* mobile menu styling */

.mobile-nav {
    visibility: hidden;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid white;
    backdrop-filter: blur(5px);
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.overlay {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.mobile-nav.open {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

.mobile-nav.close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    animation: mobileNavClose 0.4s ease forwards;
}

.button-containermenu {
    margin-top: 20%;
    display: flex;
    gap: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: auto;
    width: 100%;
    background: lightblue;
    padding: 20px;
    border-radius: 20px;
}

.menucontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 75%;
    max-width: 1000px;
    margin-top: 20px;
}

/* hamburger selector styling */

#checkbox {
    display: none;
}

.toggle {
    display: none !important;
    position: relative;
    width: 30px;
    padding: 0px 20px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
    z-index: 1001;
}

.bars {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 50%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 50%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}

/* end of hamburger selector styling */

/* sprint styling */

.sprint-shortcuts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;

}

.note-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.2);
    border: #ffffff 1px solid;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 20px auto;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("assets/background.png");
    flex: 1 1 1;
    border: #ffffff 1px solid;
    border-radius: 10px;
    padding: 40px 40px 0px 40px;
}

.sprint-content {
    display: flex;
    gap: 20px;
    align-self: center;
    justify-content: space-between;
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
}
.heading-sprint {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 40px 0px 40px 0px;
}

.sprint-text,
.sprint-title {
    margin: 0px 0px 10px 0px;
}

.sprint-title {
    font-size: 1.7rem;
}

.sprint-text {
    list-style: none;
    padding: 20px 0px;
    width: 100%
}

.sprint-link {
    display: flex;
    justify-content: space-between;
    background-color: #0F79D0;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 10px;
}

.sprint-link.active {
    background-color: black;
    color: white;
}

.note-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
/* sprint styling end */

/* aantekeningen styling */

.aantekeningenh1 {
    text-align: center;
    margin-bottom: 20px;
}

.button-list a {
    text-decoration: none;
}
.button-list {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.javascriptt {
    color: black;
}


/* html blok */

.html {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    background-color: #E44D26;
    padding: 10px 0px;
    height: 50%;
    box-shadow: #E44D26 2px 7px 10px;
    transition: ease-out .5s;
}

.htmlwrapper {
    margin-top: 15%;
}

.html1 {
    background-color: #E44D26;
}

.htmlbox {
    margin-bottom: 20px;
}

.html:active {
    translate: 0 20%;
    box-shadow: #E44D26 0px 0px 0px;
    transition: ease-out .1s;
}

/* html einde */

/* css blok */

.css {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    background-color: #663399;
    padding: 10px 0px;
    height: 50%;
    box-shadow: #663399 2px 7px 10px;
    transition: ease-out .5s;
}

.csswrapper {
    margin-top: 15%;
}

.css1 {
    background-color: #663399;
}

.cssbox {
    margin-bottom: 20px;
}

.css:active {
    translate: 0 20%;
    box-shadow: #663399 0px 0px 0px;
    transition: ease-out .1s;
}

/* css einde */


/* js blok */

.js {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    background-color: #FFFF00;
    padding: 10px 0px;
    height: 50%; 
    box-shadow: #FFFF00 2px 7px 10px;
    transition: ease-out .5s;
}

.js1 {
    background-color: #FFFF00;
}

.jswrapper {
    margin-top: 15%;
}

.jsbox {
    color: black;
    margin-bottom: 20px;
}

.js:active {
    translate: 0 20%;
    box-shadow: #FFFF00 0px 0px 0px;
    transition: ease-out .1s;
}

/* js einde */

.buttons-languages {
    display: grid;
    align-self: center;
}

.img {
    width: 15px;
    height: auto;
    display: inline-block;
}

.tekst {
    display: grid;
    justify-content: center;
    align-items: flex-end;
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 0px 50px 50px 50px;
}



.aantekeningimg {
    border-radius: 25px;
    width: 90%;
    max-width: 200px;
    height: auto;
    overflow: hidden;
}

.carousel {
      position: relative;
      width: 400px;
      overflow: hidden;
      margin: auto;
      border-radius: 12px;
      margin-top: 20px;

}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  min-width: 100%;
  justify-content: center;
  box-sizing: border-box;
}
.slide img {
  width: 100%;
  display: grid;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  border:0;
  width: 44px;
  height:44px;
  border-radius: 50%;

}

.prev-html{ 
    left: 10px; 
    background: url(../assets/icon.svg) no-repeat center;
    background-color:#E44D26;
}

.prev-css{ 
    left: 10px; 
    background: url(../assets/icon.svg) no-repeat center;
    background-color:#663399;
}

.prev-js{ 
    left: 10px; 
    background: url(../assets/iconblack.svg) no-repeat center;
    background-color:#FFFF00;
}

.next-html { 
    right: 10px; 
    background: url(../assets/icon3.svg) no-repeat center;
    background-color:#E44D26;
}
.next-css { 
    right: 10px; 
    background: url(../assets/icon3.svg) no-repeat center;
    background-color:#663399;
}
.next-js { 
    right: 10px; 
    background: url(../assets/blackicon.svg) no-repeat center;
    background-color:#FFFF00;
}


.aantekening1, .aantekening2, .aantekening3{
    display: grid;
    place-items: center;
}
/* week css */

.toggle-btn {
  background: #0077cc;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-top: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.sprint-content {
  display: none; 
  margin-top: 10px;
}

.note-wrapper.open .sprint-content {
  display: grid;
}

/* aantekeningen pagina styling */

/* to do pagina styling */

.checkbox {
    font-size: 1rem;
}

.todovisite {
    display: flex;
}

/* to do pagina styling end*/

/* mobile styles */
@media (max-width: 768px) {
    .card-wrapper {
        height: auto;
        width: 70%;
        max-width: 100%;
    }

    .note-wrapper {
        width: 70%;
        padding: 40px;
    }

    .sprint-link {
        padding: 10px 15px;
        max-width: 300px;
        width: 90%;
    }

    .sprint-shortcuts {
        flex-wrap: wrap;
        justify-content: center;
    }

    .button-container {
        display: none;
    }

    .search-group {
        width: 100%;
        max-width: none;
    }

    .top-link {
        display: flex;
        margin-bottom: 10px;
        text-align: left;
        width: 70%;
    }

    .toggle {
        display: flex !important;
    }

    .header-title2 {
        display: none;
    }

    .search-group input {
        width: 100%;
        padding-left: 2rem;
        box-sizing: border-box;
    }

    .search-group .icon {
        top: 50%;
        left: .8rem;
        transform: translateY(-50%);
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-title1 {
        display: flex;
        align-self: center;
        margin-left: 0%;
        width: 10%;
        height: auto;
        max-width: 40px;
        padding: 0px 10px;
        z-index: 1000;
    }

    .header-title {
        margin-left: 0%;
        width: 20%;
        height: auto;
        padding-right: 10px;
        z-index: 1001;
    }

    .mobile-nav.open {
        opacity: 1;
        visibility: visible;
        justify-content: start;
        pointer-events: auto;
        animation: mobileNavOpen 0.4s ease forwards;
    }
}

/* end of mobile styles */


@media (min-width: 768px) {
    .buttons-languages {
        display: none;
    }
}