@font-face {
    font-family: blackops;
    font-style: normal;
    font-weight: 700;
    src: url('../assets/BlackOpsOne-Regular.ttf') format('opentype'); 
}
* {
    margin: 0;
    padding: 0;
    font-family: blackops;
}

html {
    background-color: #D3D3D3;
}

main {


    section {
        position: relative;

        h1 {
            position: absolute;
            text-align: center;
            top: 29%;
            width: 100vw;
            font-size: 3.5rem;
            color: white;
            z-index: 0;

            @media (min-width: 600px) {
                font-size: 5rem;
            }
        }

        img {
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 5rem;
            z-index: 2; 
            cursor: pointer;
        }

        .car {
            position: relative;
            width: 350px;

            @media (min-width: 550px) {
                width: 600px;
            }

            @media (min-width: 950px) {
                width: 1000px;
            }

        }

        .lefttyre {
            position: absolute;
            left: 16%;
            top: 30%;
            width: 15%;
            height: auto;

            @media (min-width: 550px) {
                top: 36%;
            }
            @media (min-width: 950px) {
                top: 41%;
            }
        }

        .righttyre {
            position: absolute;
            right: 12.5%;
            top: 30%;
            width: 15%;
            height: auto;

            @media (min-width: 550px) {
                top: 36%;
            }
            @media (min-width: 950px) {
                top: 41%;
            }
        }

        .driveby  {
            animation-name:driveby;
            animation-duration: 5s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }

        .tyrespin {
            animation-name: tyrespin;
            animation-duration: 5s;
            animation-timing-function: linear;
        }
    }
}

@keyframes driveby {
    from    { 
        transform: translateX(0); 
    }

    to  { 
        transform: translateX(100vw); 
    }
}

@keyframes tyrespin {
    from  { 
        transform: rotate(0deg); 
    }

    to   { 
        transform: rotate(720deg) ; 
    }
} 